@font-face{
        font-family:'barcode';
        src:url('fonts/barcode.ttf');
        format('truetype');
}

@font-face{
        font-family:'Julius';
        src:url('fonts/Julius.ttf');
        format('truetype');
}

img{
	border-radius: 9px;
	display: block;
}

body{
	/*margin: 0;
	padding: 0;*/
	background-color:#f0f5f5;
	font-family: 'Arial', sans-serif;
        
}
h1{
        margin:0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
}

.container{
        width: 390px;
        height: 420px;
        background: rbga(0, 0, 0, 0.5);
        color: #b38481;
        top: 50%;
        left: 50%;
	position: absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        padding: 70px 30px;
}

.container p{
        margin: 0;
        padding: 0;
        font-weight: bold;
        text-align:left;
        font-family: 'Julius';
        font-size: 20px;
}

.container input{
        width: 100%;
        margin-bottom: 20px;
}

.container input[type="text"], input[type="password"]{
        border:none;
        border-bottom: 1px solid #fff;
	background: transparent;
        outline: none;
        height: 40px;
        color: #b38481;
        font-size: 15px;
}

.container input[type="submit"]{
        border:none;
        outline:none;
        height: 40px;
	background:#7f525d;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
}

.container input[type="submit"]:hover{
        cursor: pointer;
        background: midnightblue;
}

.container span{
	font-size: 14px;
        color: midnightblue;
}

.container h1{
        font-family: 'barcode';
        font-size: 32px;
}

input{
        border: 0;
        outline: 0;
}

input[type="search"]{
        width: 250px;
        height: 30px;
        border-radius: 50px;
        text-indent:10px;
        color: #CCC;
        font-weight: 300;
}

ul.main_menu{
        margin-top:15px;
}

.main_menu li{
        display: inline-block;
        font-size: 16px;
        padding: 0 10px 0 10px;
}

.main_menu a{
        text-decoration: none;
        color: #fff;
        padding: 8px;
        font-variant: small-caps;
}

.main_menu a:hover{
        color: midnightblue;
}

.main_menu{
        padding: 5px 0 5px 0;
        text-align: center;
        line-height: 32px;
        background-color: #818181;
}

.columns{
	 -moz-column-count: 5;
	 -webkit-column-count: 5;
	 column-count: 5;
	font-family: 'Julius';
	font-size: 80%;
	margin-left: 7%;
}

h2{
	margin-left: 2%;       
	font-size: 80%;
        font-family: 'Julius';
}

.showtimes{
	font-family: 'Julius';
	font-size: 80%;
	margin-left: 5%;
}

.slicknav_menu {
	display: none;
}

/*phone portrait*/
@media only screen and (max-width: 479px) {
	#nav_menu {
		display: none;
	}
	.slicknav_menu {
		display: block;
		z-index:1000;
	}
	.columns{
		 -moz-column-count: 1;
		 -webkit-column-count: 1;
		 column-count: 1;
	}
	.container{
		margin-left: 5%;
	}
	footer{
		bottom: 0%;
	}
	.container input[type="submit"]{
		width: 90%;
	}
}

/*phone in landscape*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#nav_menu {
		display: none;
	}
	.slicknav_menu {
		display: block;
		z-index:1000;
	}
	.columns{
		 -moz-column-count: 2;
		 -webkit-column-count: 2;
		 column-count: 2;
	}
	.container{
		margin-left: 3%;
		margin-top:10%;
	}
	footer{
		bottom: 0%;
	}
}
